<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<title>미디어쿼리</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" media="(max-width:1280px)"	href="max-1280px.css">
<link rel="stylesheet" media="(max-width:1024px)"	href="max-1024px.css">
<link rel="stylesheet" media="(max-width:768px)"	href="max-768px.css">
<link rel="stylesheet" media="(max-width:480px)"	href="max-480px.css">
	

	<!-- responsive web design area -->
<style type="text/css">
	
	@media screen and (max-width:1280px) {
		
	}

	@media screen and (max-width:1024px) {

	}

	@media screen and (max-width:768px) {

	}

	@media screen and (max-width:480px) {

	}
	
</style>

</head>
<body>
	본문
</body>
</html>