<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<style>
        #header     { height:200px; background-color: darkgray; }
        #container { position: relative;height:2000px; background-color: aquamarine;  }
        #container .position_org { position: absolute; top: 400px; width: 100%; height: 100px; background-color: blueviolet; }
        #container .position_target { position: absolute; top: 500px; width: 100%; height: 100px; background-color: brown; }
        #container.scoll_in {  background-color: olivedrab;  }
	</style> 
	<script type="text/javascript" src="../../../../asset/js/libs/jquery-1.12.1.min.js"></script>
	<script type="text/javascript" src="../../../../asset/js/libs/trpLayout.js"></script>
	<script>
	
	$(document).ready(function(){
    /*
       (기준 타겟 위치 선택자, 기준 타겟 위치 가감 수치, 적용 타겟 선택자, 적용 타겟 class 이름)
    */
      var trpSPF = $(window).trpScrollPositionFn(".position_target" , -100 , function($b){
        if($b){ //over
          console.log("over>>");
          $("#container").addClass("scoll_in")
        }else{  // under
          console.log("under>>");
          $("#container").removeClass("scoll_in")
        }
      });
      
      /* 기준 타겟 위치 가감 수치 변경 */
         setTimeout(function(){ trpSPF.setTarModi( -200 ) }, 5000);
	})
        
	</script>
	
</head>
<body> 
	
   <div id="header">header</div>
   <div id="container">
       <div class="position_org"> ching line </div>
       <div class="position_target">(position_target - 100)</div>
   </div>

 
</body>
</html>