<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<title>디바이스 미디어쿼리</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" media="(max-width:1280px)"	href="max-1280px.css">
<link rel="stylesheet" media="(max-width:1024px)"	href="max-1024px.css">
<link rel="stylesheet" media="(max-width:768px)"	href="max-768px.css">
<link rel="stylesheet" media="(max-width:480px)"	href="max-480px.css">
	

<style type="text/css">
  /*--------------------------------------
    HTML Elements Default Properties
    - Media Query : iphone X ~
    - iPhone size: https://www.idev101.com/code/User_Interface/sizes.html
    - css env() : https://developer.mozilla.org/en-US/docs/Web/CSS/env
  ---------------------------------------*/
  
  /* iPhone X, Xs */
  @media only screen 
  and (device-width : 375px) 
  and (device-height : 812px) 
  and (-webkit-device-pixel-ratio : 3){
  }
	
  /* iPhone Xs Max */
  @media only screen 
  and (device-width : 414px) 
  and (device-height : 896px) 
  and (-webkit-device-pixel-ratio : 3){
  }
  
  /* iPhone Xr */
  @media only screen 
  and (device-width : 414px) 
  and (device-height : 896px) 
  and (-webkit-device-pixel-ratio : 2){
  }
</style>

</head>
<body>
	본문
</body>
</html>