<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<title>webkit scrollbar</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css"  href="../../../../asset/css/trpBase.css" media="all" />
</head>
<!-- 
<style type="text/css">
  .trp_webkitscroll_y { border: 1px solid #333; padding: 10px; width: 100px; height: 50px; overflow-y: auto;}
  .trp_webkitscroll_y::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  .trp_webkitscroll_y::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
  }
</style>
-->
<body>
  
  
  <div class="trp_webkitscroll_y">
    a <br/>
    b <br/>
    c <br/>
    d <br/>
    e <br/>
    f <br/>
    g <br/>
    h <br/>
    i <br/>
    j <br/>
    k <br/>
    l <br/>
    n <br/>
    m <br/>
    o <br/>
    p <br/>
    q <br/>
    r <br/>
    s <br/>
    t <br/>
    u <br/>
    v <br/>
    w <br/>
    x <br/>
    y <br/>
    z <br/>
  </div>
  
  
  

</body>
</html>