<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
<title>container query | TR package </title>
<script type="text/javascript" src="../../../../asset/js/libs/jquery-1.11.1.js" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css"  href="../../../../asset/css/common.css" media="all" />


</head>
<body>
  <div id="header"></div>
  <div id="container">
	<div id="lnb" class="gnb"></div>
	<!-- s: 컨텐츠 시작 -->
	<div id="contents" class="contents">
		<!-- s: css 설명
		<div class="desc_wapper">
			<h1 class="desc_title">list</h1>
			<p>목록에 대한 정의입니다.</p>
		</div>
		 -->
		<!-- e: css 설명 -->
	

		<!-- s: api 설명 -->
		<div class="api">
			<h2 class="api-title">media query</h2>
			<div class="api-body">
				<dl>
					<dt>설명</dt>					
					<dd><span class="icon"></span>컨테이너 쿼리 사용 방법</dd>
					<dd><span class="icon"></span> 클래스(.containerQuery)에 컨테이너이름(div-container)을 부여하여 사용 </dd>
					<dd><span class="icon"></span>@container div-container (width <= XXXpx)  : 데스크탑 기준 : XXXpx 까지</dd>
				</dl>

				<table class="table_col" summary="layer Popup 메소드">
              <caption>layer Popup 설명</caption>
              <colgroup>
                <col width="150">
                  <col width="">
              </colgroup>
              <tbody>
                <tr>
                  <th scope="col">메서드</th>
                  <th scope="col">메서드 설명</th>
                </tr>
                <tr>
                  <td>container-type: </td>
                  <td>컨테이너 타입 [normal(컨테이너 쿼리 비활성화),  size(가로세로 모두반응), inline-size(기로반응), scroll-state(스크롤에따라), 
										inherit(부모 쿼리에 따라), inital(생성시쿼리에 따라)]
                  </td>
                </tr>
                <tr>
                  <td>contain: </td>
                  <td>웹 페이지의 렌더링 성능을 최적화하기 위해 사용되는 CSS 속성 <br>
										[none(기본값. 컨테인먼트(containment)를 적용하지 않음),  <br>
										strict(모든 종류의 컨테인먼트를 적용함),   <br>
										size(요소의 크기가 외부 콘텐츠의 영향을 받지 않도록 함), <br> 
										layout(요소의 내부 레이아웃이 외부 레이아웃에 영향을 주지 않도록 함), 
										style(요소의 콘텐츠 내부에 있는 CSS 속성(카운터, 폰트, quotes 등)이 외부 콘텐츠에 영향을 주지 않도록함), <br>
										paint(요소의 내부 콘텐츠가 외부 콘텐츠 위로 넘쳐 흐르거나(overflow) 다른 요소의 렌더링에 영향을 주지 않도록 함)
										]
                  </td>
                </tr>
                <tr>
                  <td>container-name </td>
                  <td>컨테이너 이름 지정
                  </td>
                </tr>
                <tr>
                  <td>이름이 없을때 </td>
                  <td>부모컨테이너에 아래속성이 있는 더 가까운 컨테이너에 반응함. <br>
										container-type: inline-size; <br>
										container-type: size; <br>
										contain: layout; <br>
										contain: style;
                  </td>
                </tr>
               

              </tbody>
            </table>

				<div class="ex_wapper">
					<h3 class="api-title_h3">VIEW (컨테이너 크기에 따른 )</h3>
					<!-- <p class="ex-more"><a href="javascript:return false;"><span class="d-n">+</span><span style="display: inline;">-</span></a></p> -->
					<p class="ex-view"><a href="ex01.html" target="_blank">View Sample</a></p>
					<div class="ex-body d-n" >


<div class="mediaQuery"></div>


					</div>
				</div>
				
				<div class="ex_wapper">
					<h3 class="api-title_h3 css">CSS</h3>
					<div class="api-body_h3 css">



<!-- HTML generated using hilite.me --><div style="background: #272822; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
	2
	3
	4
	5
	6
	7
	8
	9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #f92672">&lt;style </span><span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;text/css&quot;</span><span style="color: #f92672">&gt;</span>
 
	 <span style="color: #a6e22e">.containerQuery</span> <span style="color: #f8f8f2">{</span> 
		 <span style="color: #f8f8f2">container</span><span style="color: #f92672">-</span><span style="color: #f8f8f2">name</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">div</span><span style="color: #f92672">-</span><span style="color: #f8f8f2">container;</span>
		 <span style="color: #f8f8f2">container</span><span style="color: #f92672">-</span><span style="color: #f8f8f2">type</span><span style="color: #f92672">:</span> <span style="color: #66d9ef">inline</span><span style="color: #f92672">-</span><span style="color: #66d9ef">size</span><span style="color: #f8f8f2">;</span> 
	 <span style="color: #f8f8f2">}</span> 
 
	 <span style="color: #66d9ef">@container</span> <span style="color: #f92672">div-container</span> <span style="color: #f92672">(width</span> <span style="color: #f92672">&lt;=</span> <span style="color: #f92672">1280px)</span> <span style="color: #f8f8f2">{</span>
	 <span style="color: #f8f8f2">}</span>
	 
	 <span style="color: #66d9ef">@container</span> <span style="color: #f92672">div-container</span> <span style="color: #f92672">(width</span> <span style="color: #f92672">&lt;=</span> <span style="color: #f92672">1024px)</span> <span style="color: #f8f8f2">{</span>
	 <span style="color: #f8f8f2">}</span>
 
	 <span style="color: #66d9ef">@container</span> <span style="color: #f92672">div-container</span> <span style="color: #f92672">(width</span> <span style="color: #f92672">&lt;=</span> <span style="color: #f92672">768px)</span> <span style="color: #f8f8f2">{</span>
	 <span style="color: #f8f8f2">}</span>
 
	 <span style="color: #66d9ef">@container</span> <span style="color: #f92672">div-container</span> <span style="color: #f92672">(width</span> <span style="color: #f92672">&lt;=</span> <span style="color: #f92672">480px)</span> <span style="color: #f8f8f2">{</span>
	 <span style="color: #f8f8f2">}</span>
	 
 <span style="color: #f92672">&lt;/style&gt;</span>
 </pre></td></tr></table></div>
 




					</div>
				</div>



		
			</div>
		</div>
		<!-- e: api 설명 -->
		
	
  </div>		
	<!-- e: 컨텐츠 끝 -->
	<p class="cl-b"></p>
</div>



<script type="text/javascript">
	$("#header").load("../../../head.html");
	$("#lnb").load("../../../lnb.html");	


	$(".ex-more a").click(function() {
		$( this ).find("span").toggle();
		$( this ).parent().siblings(".ex-body").slideToggle();
		return false;
	});

</script>

</body>
</html>
