
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
<title>flex | TRpackage</title>
<script type="text/javascript" src="../../../../asset/js/libs/jquery-1.12.1.js" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css"  href="../../../../asset/css/common.css" media="all" />
<link rel="stylesheet" type="text/css"  href="../../../../asset/css/trpBase.css" media="all" />
  <style>
    
    section {  margin: 30px 0; }  
    section>.inner { position: relative; border: 1px solid #aaa; width: 100%; max-width:800px; height: 300px;  }  
    
    .item { width: 50px; min-height: 50px; margin: 0 auto; color:#555; font-size: 12px; line-height: 1.2;
      background-color: aliceblue; box-sizing: border-box; border: 1px solid #ccc;}
    
  </style>

</head>
<body>
  <div id="header" ></div>
  <div id="container">
	<div id="lnb" class="gnb"></div>
	<!-- s: 컨텐츠 시작 -->
	<div id="contents" class="contents">
		<!-- s: css 설명
		<div class="desc_wapper">
			<h1 class="desc_title">list</h1>
			<p>목록에 대한 정의입니다.</p>
		</div>
		 -->
		<!-- e: css 설명 -->
	

		<!-- s: api 설명 -->
		<div class="api">
			<h2 class="api-title">display : flex</h2>
			<div class="api-body">
				<dl>
          <dt>설명</dt>					
          <dd><span class="icon"></span> css3 정열 방법 (wrap) (IE 11) </dd>
				</dl>
				
                <table class="table_col" summary="생성되는 class 설명">
                  <caption>property 설명</caption>
                  <colgroup>
                    <col width="200">
                    <col width="">
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope="col">property 이름</th>
                      <th scope="col">property 설명</th>
                    </tr>
                    <tr>
                      <td>flex-direction:[ <strong>row</strong>, column]</td>
                      <td>
                        정열 방향 성 (중심선)<br>
                        - row : 가로 방향  (↔)<br>
                        - column : 세로 방향 (↕)                         
                      </td>
                    </tr>
                    <tr>
                      <td>flex-wrap: [ <strong>nowrap</strong>, wrap, wrap-reverse]</td>
                      <td>
                        "flex-direction"속성이 "row" 일대 유연함 적용<br>
                        - nowrap : 유연함 적용안함, 줄바굼 되지 않도록함. <br>
                        - wrap : 유연함 적용, 유연하게 항목 줄바꿈 <br>
                        - wrap-reverse : 유연함 적용, "wrap" 반대로 줄바꿈
                      </td>
                    </tr>     
                    <tr>
                      <td>align-content: [ <strong>normal</strong>, center, flex-start, flex-end, space-around, space-between, stretch]</td>
                      <td>
                        "flex-direction" 중심 선 기준에따른 정열 방법<br>
                        - center        : 중앙 정열 <br>
                        - flex-start    : 시작점에서 부터 정열 <br>
                        - flex-end      : 끝나는점에서 부터 정열 <br>
                        - space-around  : 중심으로부터 아이템에 같은 여백을 줘서 정열 <br>
                        - space-evenly  : 아이템 간격이 동일하게 정열 <br>
                        - space-between : 중심 약끝으로 부터 정열 <br>
                        - stretch       : 컨테이너 크기만큼 여백없이 정열 
                      </td>
                    </tr>
                    
                    <tr>
                      <td>justify-content: [ <strong>normal</strong>, center, flex-start, flex-end, space-around, space-between, stretch]</td>
                      <td>
                        "flex-direction" 중심 선 반대 기준에따른 정열 방법<br>
                        - center        : 중앙 정열 <br>
                        - flex-start    : 시작점에서 부터 정열 <br>
                        - flex-end      : 끝나는점에서 부터 정열 <br>
                        - space-around  : 아이템에 같은 여백을 줘서 정열 <br>
                        - space-evenly  : 아이템 간격이 동일하게 정열 <br>
                        - space-between : 약끝으로 부터 정열 <br>
                        - stretch       : 컨테이너 크기만큼 여백없이 정열 
                      </td>
                    </tr>          
                    <tr>
                      <td>align-items: [ <strong>normal</strong>, center, flex-start, flex-end, stretch, baseline]</td>
                      <td>
                        아이템 기준에서 정열 기준<br>
                        - center        : 중앙 정열 <br>
                        - flex-start    : 시작점에서 부터 정열 <br>
                        - flex-end      : 끝나는점에서 부터 정열 <br>
                        - stretch       : 컨테이너 크기만큼 여백없이 정열 <br>
                        - baseline      : 텍스트기중
                      </td>
                    </tr>

                  </tbody>
                </table>



<!-- ===VIEW=== -->	            
				<div class="ex_wapper">
					<h3 class="api-title_h3">VIEW</h3>
					<p class="ex-more"><a href="javascript:return false;"><span class="d-n">+</span><span style="display: inline;">-</span></a></p>
					<p class="ex-view"><a href="ex01.html" target="_blank">View Sample</a></p>
					<div class="ex-body d-n" >
                    <!-- 소스 -->
                


	
                    
                    <!-- //소스 -->        
					</div>
				</div>
				

<!-- ===CSS=== -->	
				<div class="ex_wapper">
					<h3 class="api-title_h3 css">CSS</h3>
					<div class="api-body_h3 css">
                    <!-- 소스 -->

                                          

                    <!-- //소스 -->
					</div>
				</div>


<!-- ===HTML=== -->	
				<div class="ex_wapper">
				<h3 class="api-title_h3 html">HTML</h3>
					<div class="api-body_h3 html">
                    <!-- 소스 -->

                                                                        
                                                                                                                                                                                    
                    
                    <!-- //소스 -->
					</div>
				</div>
					
		
			</div>
		</div>
		<!-- e: api 설명 -->
		
	
		</div>		
	<!-- e: 컨텐츠 끝 -->
	<p class="cl-b"></p>
</div>



<script type="text/javascript">
	$("#header").load("../../../head.html");
	$("#lnb").load("../../../lnb.html");	


	$(".ex-more a").click(function() {
		$( this ).find("span").toggle();
		$( this ).parent().siblings(".ex-body").slideToggle();
		return false;
	});

</script>

</body>
</html>
        

        
        
   