<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>input_file</title>
<style type="text/css">
	.im_box { position:relative; width:300px; height:100px; outline:2px solid red; }
	.im_tl { position:absolute; display:block; width:25px; height:25px; background:url(./images/imBox.gif) 0px 0px no-repeat;}
	.im_tc {position:absolute; display:block; width:100%; height:25px; 
	background:url(./images/imBox.gif) 20px -500px;  	}
	.im_tr {}
	.im_cl {}
	.im_cc {}
	.im_cr {}
	.im_bl {}
	.im_bc {}
	.im_br {}
	

</style>
<!-- <script type="text/javascript" src="../../../../asset/js/libs/jquery-1.10.2.js"></script> -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- <script type="text/javascript" src="../../../../asset/js/libs/trpForm.js"></script>-->

<script type="text/javascript">	 
	$(document).ready(function(){
		
		$(".im_box").prepend();
			
	
	})

 

</script>


 
</head>
<body>		

	<div class="im_box">
		<span class="im_tl"></span>
		<span class="im_tc"></span>
		<span class="im_tr"></span>
		<span class="im_cl"></span>
		<span class="im_cc"></span>
		<span class="im_cr"></span>
		<span class="im_bl"></span>
		<span class="im_bc"></span>
		<span class="im_br"></span>
		<p>만두</p>
	</div>

</body>
</html>