																	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>input_file</title>
<style type="text/css">
	 .round1{
	 background-color:#ccf;
	 float:middle;
	 margin:0px 10px 10px 5px;
	 padding:10px 10px 10px 10px;
	 }
	.round2 {
	 background-color:#ff9;
	 float:middle;
	 margin:0px 10px 10px 5px;
	 padding:10px 10px 10px 10px;
	 }

</style>
<!-- <script type="text/javascript" src="../../../../asset/js/libs/jquery-1.10.2.js"></script> -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script> 
<script type="text/javascript" src="//css-browser-selector.googlecode.com/git/css_browser_selector.js"></script>
<script type="text/javascript" src="jquery.corner.js"></script>

<script type="text/javascript">	 
	$(document).ready(function(){
		$(function(){
		 $('#rounderBox1').corner("15px");
		 $('#rounderBox2').corner("15px");
		});   

			
	
	})

 

</script>


 
</head>
<body>		

	<div id="rounderBox1" class="round1">
		내용1
	</div>

	<div id="rounderBox2" class="round1">
		내용2
	</div>

</body>
</html>