.particle1-area {
  position: relative;
  overflow: hidden;
  width: 260px;
  height: 180px;
  background-color: #333;
}
.particle1-area .particle {
  position: absolute;
  top: -5px;
  left: 50%;
  animation: shoot 16537s ease-out infinite;
  animation-name: shoot2, fade;
  border-radius: 50%;
  background-image: radial-gradient(hsl(192, 100%, 80%), hsl(192, 100%, 80%) 10%, hsla(192, 100%, 80%, 0) 56%);
}
.particle1-area .particle:nth-child(1) {
  width: 3px;
  height: 3px;
  transform: translate(-27px, 30px);
  animation-duration: 1.51s;
  animation-delay: -1.4798s;
}
.particle1-area .particle:nth-child(2) {
  width: 1px;
  height: 1px;
  transform: translate(-31px, 180px);
  animation-duration: 1.57s;
  animation-delay: -1.3973s;
}
.particle1-area .particle:nth-child(3) {
  width: 4px;
  height: 4px;
  transform: translate(-64px, 5px);
  animation-duration: 1.44s;
  animation-delay: -1.08s;
}
.particle1-area .particle:nth-child(4) {
  width: 1px;
  height: 1px;
  transform: translate(-76px, 25px);
  animation-duration: 1.96s;
  animation-delay: -1.6268s;
}
.particle1-area .particle:nth-child(5) {
  width: 2px;
  height: 2px;
  transform: translate(-44px, 135px);
  animation-duration: 1.82s;
  animation-delay: -0.5642s;
}
.particle1-area .particle:nth-child(6) {
  width: 2px;
  height: 2px;
  transform: translate(-28px, 80px);
  animation-duration: 1.43s;
  animation-delay: -0.0572s;
}
.particle1-area .particle:nth-child(7) {
  width: 1px;
  height: 1px;
  transform: translate(-17px, 75px);
  animation-duration: 1.51s;
  animation-delay: -1.1476s;
}
.particle1-area .particle:nth-child(8) {
  width: 3px;
  height: 3px;
  transform: translate(-5px, 115px);
  animation-duration: 1.76s;
  animation-delay: -1.2848s;
}
.particle1-area .particle:nth-child(9) {
  width: 3px;
  height: 3px;
  transform: translate(5px, 20px);
  animation-duration: 1.11s;
  animation-delay: -0.7437s;
}
.particle1-area .particle:nth-child(10) {
  width: 4px;
  height: 4px;
  transform: translate(-9px, 205px);
  animation-duration: 1.19s;
  animation-delay: -0.0238s;
}
.particle1-area .particle:nth-child(11) {
  width: 3px;
  height: 3px;
  transform: translate(15px, 235px);
  animation-duration: 1.33s;
  animation-delay: -0.6118s;
}
.particle1-area .particle:nth-child(12) {
  width: 4px;
  height: 4px;
  transform: translate(-58px, 230px);
  animation-duration: 1.62s;
  animation-delay: -0.2268s;
}
.particle1-area .particle:nth-child(13) {
  width: 1px;
  height: 1px;
  transform: translate(-28px, 15px);
  animation-duration: 1.54s;
  animation-delay: -0.2002s;
}
.particle1-area .particle:nth-child(14) {
  width: 2px;
  height: 2px;
  transform: translate(35px, 150px);
  animation-duration: 1.08s;
  animation-delay: -0.0972s;
}
.particle1-area .particle:nth-child(15) {
  width: 1px;
  height: 1px;
  transform: translate(-66px, 170px);
  animation-duration: 1.11s;
  animation-delay: -0.0444s;
}
.particle1-area .particle:nth-child(16) {
  width: 2px;
  height: 2px;
  transform: translate(-88px, 85px);
  animation-duration: 1.82s;
  animation-delay: -0.2002s;
}
.particle1-area .particle:nth-child(17) {
  width: 4px;
  height: 4px;
  transform: translate(83px, 165px);
  animation-duration: 1.51s;
  animation-delay: -0.5587s;
}
.particle1-area .particle:nth-child(18) {
  width: 2px;
  height: 2px;
  transform: translate(52px, 150px);
  animation-duration: 1.11s;
  animation-delay: -1.0767s;
}
.particle1-area .particle:nth-child(19) {
  width: 3px;
  height: 3px;
  transform: translate(73px, 115px);
  animation-duration: 1.51s;
  animation-delay: -1.1627s;
}
.particle1-area .particle:nth-child(20) {
  width: 1px;
  height: 1px;
  transform: translate(82px, 190px);
  animation-duration: 1.59s;
  animation-delay: -0.6201s;
}
@keyframes shoot2 {
  0% {
    transform: translate(50%, 0);
  }
}

.particle2-area {
  position: relative;
  overflow: hidden;
  width: 230px;
  height: 100px; /* border: 1px solid #f00; */
  background-color: #333;
}
.particle2-area .particle {
  position: absolute;
  right: -10px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.particle2-area .particle span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(hsl(56, 100%, 80%), hsl(32, 100%, 80%) 10%, hsla(180, 100%, 80%, 0) 56%);
  animation: fadein-frames 200ms infinite, scale-frames 2s 1;
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scale-frames {
  0% {
    transform: scale3d(0.3, 0.3, 1);
  }
  50% {
    transform: scale3d(0.2, 0.8, 1);
  }
  100% {
    transform: scale3d(0.3, 0.3, 0);
  }
}
.particle2-area .particle:nth-child(1) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-1;
  animation-duration: 8607ms;
  animation-delay: 6825ms;
}
@keyframes move-frames-1 {
  from {
    transform: translate3d(-129px, 98px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(199px, 2, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(1) span {
  animation-delay: 1829ms;
}
.particle2-area .particle:nth-child(2) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-2;
  animation-duration: 8036ms;
  animation-delay: 8408ms;
}
@keyframes move-frames-2 {
  from {
    transform: translate3d(-79px, 96px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(115px, 4, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(2) span {
  animation-delay: 493ms;
}
.particle2-area .particle:nth-child(3) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-3;
  animation-duration: 7763ms;
  animation-delay: 6783ms;
}
@keyframes move-frames-3 {
  from {
    transform: translate3d(-125px, 95px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(118px, 5, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(3) span {
  animation-delay: 134ms;
}
.particle2-area .particle:nth-child(4) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-4;
  animation-duration: 8910ms;
  animation-delay: 5386ms;
}
@keyframes move-frames-4 {
  from {
    transform: translate3d(-140px, 92px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(77px, 8, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(4) span {
  animation-delay: 1184ms;
}
.particle2-area .particle:nth-child(5) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-5;
  animation-duration: 9430ms;
  animation-delay: 8487ms;
}
@keyframes move-frames-5 {
  from {
    transform: translate3d(-108px, 92px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(159px, 8, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(5) span {
  animation-delay: 938ms;
}
.particle2-area .particle:nth-child(6) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-6;
  animation-duration: 10369ms;
  animation-delay: 970ms;
}
@keyframes move-frames-6 {
  from {
    transform: translate3d(-85px, 95px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(160px, 5, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(6) span {
  animation-delay: 548ms;
}
.particle2-area .particle:nth-child(7) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-7;
  animation-duration: 10874ms;
  animation-delay: 4703ms;
}
@keyframes move-frames-7 {
  from {
    transform: translate3d(-85px, 95px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(173px, 5, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(7) span {
  animation-delay: 1213ms;
}
.particle2-area .particle:nth-child(8) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-8;
  animation-duration: 8939ms;
  animation-delay: 4656ms;
}
@keyframes move-frames-8 {
  from {
    transform: translate3d(-173px, 93px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(81px, 7, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(8) span {
  animation-delay: 934ms;
}
.particle2-area .particle:nth-child(9) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-9;
  animation-duration: 8584ms;
  animation-delay: 1029ms;
}
@keyframes move-frames-9 {
  from {
    transform: translate3d(-186px, 99px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(154px, 1, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(9) span {
  animation-delay: 563ms;
}
.particle2-area .particle:nth-child(10) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-10;
  animation-duration: 7043ms;
  animation-delay: 8246ms;
}
@keyframes move-frames-10 {
  from {
    transform: translate3d(-195px, 94px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(68px, 6, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(10) span {
  animation-delay: 116ms;
}
.particle2-area .particle:nth-child(11) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-11;
  animation-duration: 10186ms;
  animation-delay: 6309ms;
}
@keyframes move-frames-11 {
  from {
    transform: translate3d(-136px, 100px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(99px, 0, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(11) span {
  animation-delay: 1167ms;
}
.particle2-area .particle:nth-child(12) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-12;
  animation-duration: 8442ms;
  animation-delay: 5067ms;
}
@keyframes move-frames-12 {
  from {
    transform: translate3d(-79px, 99px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(134px, 1, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(12) span {
  animation-delay: 610ms;
}
.particle2-area .particle:nth-child(13) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-13;
  animation-duration: 7923ms;
  animation-delay: 3498ms;
}
@keyframes move-frames-13 {
  from {
    transform: translate3d(-191px, 95px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(195px, 5, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(13) span {
  animation-delay: 1561ms;
}
.particle2-area .particle:nth-child(14) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-14;
  animation-duration: 7278ms;
  animation-delay: 10258ms;
}
@keyframes move-frames-14 {
  from {
    transform: translate3d(-188px, 99px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(86px, 1, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(14) span {
  animation-delay: 638ms;
}
.particle2-area .particle:nth-child(15) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-15;
  animation-duration: 7203ms;
  animation-delay: 4360ms;
}
@keyframes move-frames-15 {
  from {
    transform: translate3d(-175px, 95px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(120px, 5, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(15) span {
  animation-delay: 682ms;
}
.particle2-area .particle:nth-child(16) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-16;
  animation-duration: 10637ms;
  animation-delay: 10934ms;
}
@keyframes move-frames-16 {
  from {
    transform: translate3d(-66px, 91px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(158px, 9, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(16) span {
  animation-delay: 1406ms;
}
.particle2-area .particle:nth-child(17) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-17;
  animation-duration: 9444ms;
  animation-delay: 4688ms;
}
@keyframes move-frames-17 {
  from {
    transform: translate3d(-101px, 94px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(111px, 6, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(17) span {
  animation-delay: 888ms;
}
.particle2-area .particle:nth-child(18) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-18;
  animation-duration: 7043ms;
  animation-delay: 3729ms;
}
@keyframes move-frames-18 {
  from {
    transform: translate3d(-78px, 92px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(104px, 8, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(18) span {
  animation-delay: 1144ms;
}
.particle2-area .particle:nth-child(19) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-19;
  animation-duration: 8972ms;
  animation-delay: 9252ms;
}
@keyframes move-frames-19 {
  from {
    transform: translate3d(-73px, 100px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(84px, 0, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(19) span {
  animation-delay: 1757ms;
}
.particle2-area .particle:nth-child(20) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-20;
  animation-duration: 7535ms;
  animation-delay: 1363ms;
}
@keyframes move-frames-20 {
  from {
    transform: translate3d(-73px, 93px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(171px, 7, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(20) span {
  animation-delay: 597ms;
}
@keyframes shoot {
  0% {
    transform: translate(91px, 10px);
  }
}
@keyframes fade {
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=style_paticle_v2.css.map */