.particle1-area {
  position: relative;
  overflow: hidden;
  width: 260px;
  height: 180px;
  background-color: #333;
}
.particle1-area .particle {
  position: absolute;
  top: -5px;
  left: 50%;
  animation: shoot 18237s ease-out infinite;
  animation-name: shoot2, fade;
  border-radius: 50%;
  background-image: radial-gradient(hsl(192, 100%, 80%), hsl(192, 100%, 80%) 10%, hsla(192, 100%, 80%, 0) 56%);
}
.particle1-area .particle:nth-child(1) {
  width: 4px;
  height: 4px;
  transform: translate(34px, 215px);
  animation-duration: 1.89s;
  animation-delay: -1.2096s;
}
.particle1-area .particle:nth-child(2) {
  width: 4px;
  height: 4px;
  transform: translate(67px, 70px);
  animation-duration: 1.73s;
  animation-delay: -0.2768s;
}
.particle1-area .particle:nth-child(3) {
  width: 3px;
  height: 3px;
  transform: translate(85px, 240px);
  animation-duration: 1.12s;
  animation-delay: -0.3584s;
}
.particle1-area .particle:nth-child(4) {
  width: 3px;
  height: 3px;
  transform: translate(-2px, 240px);
  animation-duration: 1.77s;
  animation-delay: -1.4691s;
}
.particle1-area .particle:nth-child(5) {
  width: 3px;
  height: 3px;
  transform: translate(-9px, 175px);
  animation-duration: 1.45s;
  animation-delay: -0.2465s;
}
.particle1-area .particle:nth-child(6) {
  width: 2px;
  height: 2px;
  transform: translate(18px, 75px);
  animation-duration: 1.8s;
  animation-delay: -0.198s;
}
.particle1-area .particle:nth-child(7) {
  width: 4px;
  height: 4px;
  transform: translate(-18px, 35px);
  animation-duration: 1.63s;
  animation-delay: -0.4727s;
}
.particle1-area .particle:nth-child(8) {
  width: 1px;
  height: 1px;
  transform: translate(66px, 15px);
  animation-duration: 1.55s;
  animation-delay: -0.9145s;
}
.particle1-area .particle:nth-child(9) {
  width: 4px;
  height: 4px;
  transform: translate(-82px, 40px);
  animation-duration: 1.94s;
  animation-delay: -0.485s;
}
.particle1-area .particle:nth-child(10) {
  width: 2px;
  height: 2px;
  transform: translate(-20px, 5px);
  animation-duration: 1.78s;
  animation-delay: -0.0178s;
}
.particle1-area .particle:nth-child(11) {
  width: 3px;
  height: 3px;
  transform: translate(86px, 145px);
  animation-duration: 1.96s;
  animation-delay: -1.6268s;
}
.particle1-area .particle:nth-child(12) {
  width: 4px;
  height: 4px;
  transform: translate(54px, 15px);
  animation-duration: 1.99s;
  animation-delay: -1.0945s;
}
.particle1-area .particle:nth-child(13) {
  width: 2px;
  height: 2px;
  transform: translate(45px, 10px);
  animation-duration: 1.37s;
  animation-delay: -0.7672s;
}
.particle1-area .particle:nth-child(14) {
  width: 2px;
  height: 2px;
  transform: translate(-76px, 170px);
  animation-duration: 1.2s;
  animation-delay: -0.756s;
}
.particle1-area .particle:nth-child(15) {
  width: 4px;
  height: 4px;
  transform: translate(-19px, 120px);
  animation-duration: 1.52s;
  animation-delay: -0.0152s;
}
.particle1-area .particle:nth-child(16) {
  width: 2px;
  height: 2px;
  transform: translate(69px, 90px);
  animation-duration: 1.06s;
  animation-delay: -0.53s;
}
.particle1-area .particle:nth-child(17) {
  width: 1px;
  height: 1px;
  transform: translate(-84px, 60px);
  animation-duration: 1.28s;
  animation-delay: -0.6144s;
}
.particle1-area .particle:nth-child(18) {
  width: 2px;
  height: 2px;
  transform: translate(-46px, 55px);
  animation-duration: 1.73s;
  animation-delay: -0.1384s;
}
.particle1-area .particle:nth-child(19) {
  width: 3px;
  height: 3px;
  transform: translate(-5px, 210px);
  animation-duration: 1.98s;
  animation-delay: -1.4058s;
}
.particle1-area .particle:nth-child(20) {
  width: 1px;
  height: 1px;
  transform: translate(-75px, 105px);
  animation-duration: 1.92s;
  animation-delay: -0.4224s;
}
@keyframes shoot2 {
  0% {
    transform: translate(50%, 0);
  }
}

.particle2-area {
  position: relative;
  overflow: hidden;
  width: 330px;
  height: 100px; /* border: 1px solid #f00; */
  background-color: #333;
}
.particle2-area .particle {
  position: absolute;
  left: -10px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.particle2-area .particle span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(hsl(56, 100%, 80%), hsl(32, 100%, 80%) 10%, hsla(180, 100%, 80%, 0) 56%);
  animation: fadein-frames 200ms infinite, scale-frames 2s 1;
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scale-frames {
  0% {
    transform: scale3d(0.3, 0.3, 1);
  }
  50% {
    transform: scale3d(0.2, 0.8, 1);
  }
  100% {
    transform: scale3d(0.3, 0.3, 0);
  }
}
.particle2-area .particle:nth-child(1) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-1;
  animation-duration: 7558ms;
  animation-delay: 7075ms;
}
@keyframes move-frames-1 {
  from {
    transform: translate3d(-91px, 144px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(93px, 6px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(1) span {
  animation-delay: 886ms;
}
.particle2-area .particle:nth-child(2) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-2;
  animation-duration: 10307ms;
  animation-delay: 1870ms;
}
@keyframes move-frames-2 {
  from {
    transform: translate3d(-130px, 149px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(89px, 1px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(2) span {
  animation-delay: 23ms;
}
.particle2-area .particle:nth-child(3) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-3;
  animation-duration: 10764ms;
  animation-delay: 7051ms;
}
@keyframes move-frames-3 {
  from {
    transform: translate3d(-103px, 145px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(92px, 5px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(3) span {
  animation-delay: 723ms;
}
.particle2-area .particle:nth-child(4) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-4;
  animation-duration: 8943ms;
  animation-delay: 6310ms;
}
@keyframes move-frames-4 {
  from {
    transform: translate3d(-90px, 142px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(64px, 8px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(4) span {
  animation-delay: 1796ms;
}
.particle2-area .particle:nth-child(5) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-5;
  animation-duration: 9375ms;
  animation-delay: 7926ms;
}
@keyframes move-frames-5 {
  from {
    transform: translate3d(-113px, 145px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(54px, 5px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(5) span {
  animation-delay: 1069ms;
}
.particle2-area .particle:nth-child(6) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-6;
  animation-duration: 7805ms;
  animation-delay: 2164ms;
}
@keyframes move-frames-6 {
  from {
    transform: translate3d(-103px, 146px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(148px, 4px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(6) span {
  animation-delay: 1730ms;
}
.particle2-area .particle:nth-child(7) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-7;
  animation-duration: 10789ms;
  animation-delay: 2694ms;
}
@keyframes move-frames-7 {
  from {
    transform: translate3d(-83px, 145px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(74px, 5px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(7) span {
  animation-delay: 1099ms;
}
.particle2-area .particle:nth-child(8) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-8;
  animation-duration: 8836ms;
  animation-delay: 566ms;
}
@keyframes move-frames-8 {
  from {
    transform: translate3d(-142px, 141px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(93px, 9px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(8) span {
  animation-delay: 831ms;
}
.particle2-area .particle:nth-child(9) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-9;
  animation-duration: 7119ms;
  animation-delay: 4572ms;
}
@keyframes move-frames-9 {
  from {
    transform: translate3d(-140px, 148px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(61px, 2px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(9) span {
  animation-delay: 1876ms;
}
.particle2-area .particle:nth-child(10) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-10;
  animation-duration: 8421ms;
  animation-delay: 4466ms;
}
@keyframes move-frames-10 {
  from {
    transform: translate3d(-66px, 146px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(100px, 4px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(10) span {
  animation-delay: 157ms;
}
.particle2-area .particle:nth-child(11) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-11;
  animation-duration: 7297ms;
  animation-delay: 9106ms;
}
@keyframes move-frames-11 {
  from {
    transform: translate3d(-106px, 147px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(146px, 3px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(11) span {
  animation-delay: 328ms;
}
.particle2-area .particle:nth-child(12) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-12;
  animation-duration: 7581ms;
  animation-delay: 5578ms;
}
@keyframes move-frames-12 {
  from {
    transform: translate3d(-119px, 149px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(134px, 1px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(12) span {
  animation-delay: 1679ms;
}
.particle2-area .particle:nth-child(13) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-13;
  animation-duration: 9509ms;
  animation-delay: 8334ms;
}
@keyframes move-frames-13 {
  from {
    transform: translate3d(-131px, 148px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(88px, 2px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(13) span {
  animation-delay: 1803ms;
}
.particle2-area .particle:nth-child(14) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-14;
  animation-duration: 7417ms;
  animation-delay: 1627ms;
}
@keyframes move-frames-14 {
  from {
    transform: translate3d(-135px, 142px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(144px, 8px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(14) span {
  animation-delay: 742ms;
}
.particle2-area .particle:nth-child(15) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-15;
  animation-duration: 9076ms;
  animation-delay: 2626ms;
}
@keyframes move-frames-15 {
  from {
    transform: translate3d(-140px, 145px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(141px, 5px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(15) span {
  animation-delay: 399ms;
}
.particle2-area .particle:nth-child(16) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-16;
  animation-duration: 7656ms;
  animation-delay: 10255ms;
}
@keyframes move-frames-16 {
  from {
    transform: translate3d(-122px, 149px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(117px, 1px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(16) span {
  animation-delay: 177ms;
}
.particle2-area .particle:nth-child(17) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-17;
  animation-duration: 10138ms;
  animation-delay: 2090ms;
}
@keyframes move-frames-17 {
  from {
    transform: translate3d(-106px, 141px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(75px, 9px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(17) span {
  animation-delay: 895ms;
}
.particle2-area .particle:nth-child(18) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-18;
  animation-duration: 7183ms;
  animation-delay: 5775ms;
}
@keyframes move-frames-18 {
  from {
    transform: translate3d(-92px, 144px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(130px, 6px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(18) span {
  animation-delay: 357ms;
}
.particle2-area .particle:nth-child(19) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-19;
  animation-duration: 10639ms;
  animation-delay: 553ms;
}
@keyframes move-frames-19 {
  from {
    transform: translate3d(-107px, 150px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(95px, 0px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(19) span {
  animation-delay: 3ms;
}
.particle2-area .particle:nth-child(20) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-20;
  animation-duration: 7703ms;
  animation-delay: 6053ms;
}
@keyframes move-frames-20 {
  from {
    transform: translate3d(-52px, 148px, 1px);
    opacity: 1;
  }
  to {
    transform: translate3d(73px, 2px, 10px);
    opacity: 0;
  }
}
.particle2-area .particle:nth-child(20) span {
  animation-delay: 1789ms;
}
@keyframes shoot {
  0% {
    transform: translate(60px, 240px);
  }
}
@keyframes fade {
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=style_paticle_v2.css.map */