<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<title>미디어쿼리</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css"  href="../../../../asset/css/trpBase.css" media="all" />
	
	<link rel="stylesheet" href="max-default.css">
	<link rel="stylesheet" media="(max-width:1280px)"	href="max-1280px.css">
	<link rel="stylesheet" media="(max-width:1024px)"	href="max-1024px.css">
	<link rel="stylesheet" media="(max-width:768px)"	href="max-768px.css">
	<link rel="stylesheet" media="(max-width:480px)"	href="max-480px.css">

</head>
<body>
	
	<div class="mediaQuery">
		<div><strong>데스크탑 중심</strong></div>
		<div> deafult : 1280px 초과</div>
		<div> max-width : 1280px 까지</div>
		<div> max-width : 1024px 까지</div>
		<div> max-width : 768px 까지</div>
		<div> max-width : 480px 까지</div>
	</div>

</body>
</html>