<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>input_file</title>
<style type="text/css">

	   .im_box {border:1px solid red}

</style>
<!-- <script type="text/javascript" src="../../../../asset/js/libs/jquery-1.10.2.js"></script> -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- <script type="text/javascript" src="../../../../asset/js/libs/trpForm.js"></script>-->

<script type="text/javascript">	 
	$(document).ready(function(){

		$( ".im_box" ).css( "borderRadius", "10px" );	
	
	})

 

</script>


 
</head>
<body>		

	<div class="im_box">
		   aaaa
	</div>

</body>
</html>