
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
<title>grid | TRpackage</title>
<script type="text/javascript" src="../../../../asset/js/libs/jquery-1.12.1.js" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css"  href="../../../../asset/css/common.css" media="all" />
<link rel="stylesheet" type="text/css"  href="../../../../asset/css/trpBase.css" media="all" />
  <style>
    
    section {  margin: 30px 0; }  
    section>.inner { position: relative; border: 1px solid #aaa; width: 100%; max-width:800px; height: 300px;  }  
    
    .item { width: 50px; min-height: 50px; margin: 0 auto; color:#555; font-size: 12px; line-height: 1.2;
      background-color: aliceblue; box-sizing: border-box; border: 1px solid #ccc;}
    
  </style>

</head>
<body>
  <div id="header" ></div>
  <div id="container">
	<div id="lnb" class="gnb"></div>
	<!-- s: 컨텐츠 시작 -->
	<div id="contents" class="contents">
		<!-- s: css 설명
		<div class="desc_wapper">
			<h1 class="desc_title">list</h1>
			<p>목록에 대한 정의입니다.</p>
		</div>
		 -->
		<!-- e: css 설명 -->
	

		<!-- s: api 설명 -->
		<div class="api">
			<h2 class="api-title">display : flex</h2>
			<div class="api-body">
				<dl>
          <dt>설명</dt>					
          <dd><span class="icon"></span> css3 정열 방법 (wrap) (IE 11) </dd>
          <dd><span class="icon"></span> 2차원적 구조를 가짐 </dd>
				</dl>
				
          <table class="table_col" summary="생성되는 class 설명">
            <caption>property 설명</caption>
            <colgroup>
              <col width="200">
              <col width="">
            </colgroup>
            <tbody>
              <tr>
                <th scope="col">컨테이너 property 이름</th>
                <th scope="col">컨테이너 property 설명</th>
              </tr>
              <tr>
                <td><strong class="fz14">grid-auto-flow:</strong>: [<strong>row</strong>, column]</td>
                <td>
                  정열 방향 <br>
                  - row : 가로 방향 (↔) <br>
                  - column : 세로 방향 (↕) <br>
                </td>
              </tr>  
              <tr>
                <td><strong class="fz14">grid-template-columns</strong>: (px, %, fr, ...)</td>
                <td>
                  가로 크기 패턴 정의 (1fr 나머지크기, 모두 fr 이면 비율로 적용) <br>
                  - grid-template-columns: 200px 200px 200px;<br>
                  - grid-template-columns: repeat(3, 30%);  
                  - grid-template-columns: 200px 100px 1fr;             
                </td>
              </tr>
              <tr>
                <td><strong class="fz14">grid-template-row</strong>: (px, %, fr, ...)</td>
                <td>
                  가로 크기 패턴 정의 (1fr 나머지크기, 모두 fr 이면 비율로 적용) <br>
                  - grid-template-row: 200px 200px 200px;<br>
                  - grid-template-row: repeat(3, 30%);  
                  - grid-template-row: 200px 100px 1fr;             
                </td>
              </tr>     
              <tr>
                <td><strong class="fz14">grid-auto-columns:</strong>: (px, %, auto, ...)</td>
                <td>
                  가로 크기지정 (auto 부족한 영역을 채워줌) <br>
                  - grid-auto-columns: 200px;<br>
                  - grid-auto-columns: minmax(100px, auto); (최소값, 최대값);  
                </td>
              </tr>     
              <tr>
                <td><strong class="fz14">grid-auto-rows:</strong>: (px, %, auto, ...)</td>
                <td>
                  세로 크기지정 (auto 부족한 영역을 채워줌) <br>
                  - grid-auto-rows: 200px;<br>
                  - grid-auto-row: minmax(100px, auto); (최소값, 최대값)<br>  
                </td>
              </tr>     
              <tr>
                <td><strong class="fz14">grid-gap</strong>: (px, %, ...)</td>
                <td>
                  그리트 아이템 간격 (위아래, 좌우) <br>
                  - grid-gap: 20px 10px;<br>
                </td>
              </tr>    
              
              <tr>
                <td><strong class="fz14">align-content</strong>: [ <strong>normal</strong>, center, flex-start, flex-end, space-around, space-between, stretch]</td>
                <td>
                  "flex-direction" 중심 선 기준에따른 정열 방법, 기본(↕)<br>
                  - center        : 중앙 정열 <br>
                  - flex-start    : 시작점에서 부터 정열 <br>
                  - flex-end      : 끝나는점에서 부터 정열 <br>
                  - space-around  : 중심으로부터 아이템에 같은 여백을 줘서 정열 <br>
                  - space-evenly  : 아이템 간격이 동일하게 정열 <br>
                  - space-between : 중심 약끝으로 부터 정열 <br>
                  - stretch       : 컨테이너 크기만큼 여백없이 정열 
                </td>
              </tr>
              
              <tr>
                <td><strong class="fz14">justify-content</strong>: [ <strong>normal</strong>, center, flex-start, flex-end, space-around, space-between, stretch]</td>
                <td>
                  "flex-direction" 중심 선 반대 기준에따른 정열 방법, 기본(↔)<br>
                  - center        : 중앙 정열 <br>
                  - flex-start    : 시작점에서 부터 정열 <br>
                  - flex-end      : 끝나는점에서 부터 정열 <br>
                  - space-around  : 아이템에 같은 여백을 줘서 정열 <br>
                  - space-evenly  : 아이템 간격이 동일하게 정열 <br>
                  - space-between : 약끝으로 부터 정열 <br>
                  - stretch       : 컨테이너 크기만큼 여백없이 정열 
                </td>
              </tr>          
              <tr>
                <td><strong class="fz14">align-items</strong>: [ <strong>normal</strong>, center, flex-start, flex-end, stretch, baseline]</td>
                <td>
                  아이템 기준에서 정열 기준 (↕)<br>
                  - center        : 중앙 정열 <br>
                  - flex-start    : 시작점에서 부터 정열 <br>
                  - flex-end      : 끝나는점에서 부터 정열 <br>
                  - stretch       : 컨테이너 크기만큼 여백없이 정열 <br>
                  - baseline      : 텍스트기중
                </td>
              </tr>
              

            </tbody>
          </table>

          <table class="table_col" summary="생성되는 class 설명">
            <caption>property 설명</caption>
            <colgroup>
              <col width="200">
              <col width="">
            </colgroup>
            <tbody>
              <tr>
                <th scope="col">아이템 property 이름</th>
                <th scope="col">아이템 property 설명</th>
              </tr>
              <tr>
                <td><strong class="fz14">grid-area</strong>: name</td>
                <td>
                  아이템 이름 지어주기, 아래 내용에서 컬럼 번호 대신 이름으로 사용할 수 있다. <br>
                  - grid-area: 이름<br>
                </td>
              </tr>  
              <tr>
                <td><strong class="fz14">grid-area, grid-row-start, grid-column-start, grid-row-end, grid-column-end </strong>: (number, name)</td>
                <td>
                   번호 , 위치
                  - grid-area : grid-row-start  grid-column-start  grid-row-end  grid-column-end<br>
                  - grid-column : grid-column-start grid-column-end<br>
                  - grid-row : grid-row-start grid-row-end<br>
                  <br>
                  - grid-row-start : 2 | span 2; 시작위치 | 시작위치까지 채움<br>
                  - grid-column-start : 2 | span 2; 시작위치 | 시작위치까지 채움 <br>
                  - grid-row-end  : 3 | span 2; 끝위치 앞에까지 | 끝위치까지 채움<br>
                  - grid-column-end : 3 | span 2; 끝위치 앞에까지 | 끝위치까지 채움 <br>
                </td>
              </tr>     
        
            </tbody>
          </table>



<!-- ===VIEW=== -->	            
				<div class="ex_wapper">
					<h3 class="api-title_h3">VIEW</h3>
					<!-- <p class="ex-more"><a href="javascript:return false;"><span class="d-n">+</span><span style="display: inline;">-</span></a></p> -->
					<p class="ex-view"><a href="ex01.html" target="_blank">View Sample</a></p>
					<!-- <div class="ex-body d-n" > -->
                    <!-- 소스 -->
                


	
                    
                    <!-- //소스 -->        
					<!-- </div> -->
				</div>
				

<!-- ===CSS=== -->	
				<div class="ex_wapper">
					<h3 class="api-title_h3 css">CSS</h3>
					<div class="api-body_h3 css">
                    <!-- 소스 -->



<!-- HTML generated using hilite.me --><div style="background: #272822; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #f92672">&lt;style </span><span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;text/css&quot;</span><span style="color: #f92672">&gt;</span>
   <span style="color: #f92672">body,</span> <span style="color: #f92672">html</span> <span style="color: #f8f8f2">{</span> <span style="color: #66d9ef">height</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">100</span><span style="color: #f92672">%</span><span style="color: #f8f8f2">;</span> <span style="color: #f8f8f2">}</span>
 
   <span style="color: #a6e22e">.wrap</span> <span style="color: #f8f8f2">{</span> <span style="color: #f8f8f2">box</span><span style="color: #f92672">-</span><span style="color: #f8f8f2">sizing</span><span style="color: #f92672">:</span> <span style="color: #66d9ef">border</span><span style="color: #f92672">-</span><span style="color: #f8f8f2">box;</span> <span style="color: #66d9ef">height</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">50</span><span style="color: #f92672">%</span><span style="color: #f8f8f2">;</span> <span style="color: #66d9ef">margin</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> <span style="color: #66d9ef">background-color</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">antiquewhite;</span>
     <span style="color: #66d9ef">display</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">grid;</span>
     <span style="color: #f8f8f2">grid</span><span style="color: #f92672">-</span><span style="color: #f8f8f2">template</span><span style="color: #f92672">-</span><span style="color: #f8f8f2">columns</span><span style="color: #f92672">:</span> <span style="color: #66d9ef">repeat</span><span style="color: #f8f8f2">(</span><span style="color: #ae81ff">3</span><span style="color: #f92672">,</span> <span style="color: #ae81ff">30</span><span style="color: #f92672">%</span><span style="color: #f8f8f2">);</span> 
     <span style="color: #f8f8f2">grid</span><span style="color: #f92672">-</span><span style="color: #66d9ef">auto</span><span style="color: #f92672">-</span><span style="color: #f8f8f2">rows</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">minmax(</span><span style="color: #ae81ff">100px</span><span style="color: #f92672">,</span> <span style="color: #66d9ef">auto</span><span style="color: #f8f8f2">);</span>
     <span style="color: #f8f8f2">grid</span><span style="color: #f92672">-</span><span style="color: #f8f8f2">gap</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">10</span><span style="color: #f92672">%</span> <span style="color: #ae81ff">0px</span><span style="color: #f8f8f2">;</span>
   <span style="color: #f8f8f2">}</span>
   <span style="color: #75715e">/* 아이템 width는 최소값으로 반영된다고 보면 됩니다. */</span>
   <span style="color: #a6e22e">.wrap</span> <span style="color: #a6e22e">.item</span> <span style="color: #f8f8f2">{</span> <span style="color: #66d9ef">min-height</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> <span style="color: #66d9ef">outline</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">1px</span> <span style="color: #66d9ef">solid</span> <span style="color: #ae81ff">#f73</span><span style="color: #f8f8f2">;</span> <span style="color: #f8f8f2">}</span>
 <span style="color: #f92672">&lt;/style&gt;</span>
 </pre></td></tr></table></div>
 
 



                                           

                    <!-- //소스 -->
					</div>
				</div>


<!-- ===HTML=== -->	
				<div class="ex_wapper">
				<h3 class="api-title_h3 html">HTML</h3>
					<div class="api-body_h3 html">
                    <!-- 소스 -->



<!-- HTML generated using hilite.me --><div style="background: #272822; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">1
  2
  3
  4
  5
  6
  7
  8
  9</pre></td><td><pre style="margin: 0; line-height: 125%">  <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;wrap&quot;</span><span style="color: #f92672">&gt;</span>
  
      <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>a<span style="color: #f92672">&lt;/div&gt;</span>    
      <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>b<span style="color: #f92672">&lt;/div&gt;</span>    
      <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>c<span style="color: #f92672">&lt;/div&gt;</span>    
      <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>d<span style="color: #f92672">&lt;/div&gt;</span>    
      <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>e<span style="color: #f92672">&lt;/div&gt;</span>    
  
    <span style="color: #f92672">&lt;/div&gt;</span>
  </pre></td></tr></table></div>
                      
                                                                                                                                                                                    
                    
                    <!-- //소스 -->
					</div>
				</div>
					
		
			</div>
		</div>
		<!-- e: api 설명 -->
		
	
		</div>		
	<!-- e: 컨텐츠 끝 -->
	<p class="cl-b"></p>
</div>



<script type="text/javascript">
	$("#header").load("../../../head.html");
	$("#lnb").load("../../../lnb.html");	


	$(".ex-more a").click(function() {
		$( this ).find("span").toggle();
		$( this ).parent().siblings(".ex-body").slideToggle();
		return false;
	});

</script>

</body>
</html>
        

        
        
   