<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">

<head>
  <title>grid</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="../../../../asset/css/trpBase.css" media="all" />
  <style type="text/css">
    body, html { height: 100%; }
  
    .wrap { box-sizing: border-box; height: 50%; margin: 30px; 
      display: grid;
      grid-template-columns: repeat(3, 30%); 
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 10px 5px;
  
      padding: 10px;
      background-color: #f0f0f0;
    }
    /* 아이템 width는 최소값으로 반영된다고 보면 됩니다. */
    .wrap .item { 
      padding: 20px; min-height: 30px;  
      font-size: 20px; text-align: center;   
      background-color: #ddd; 
    }
  </style>
</head>

<body>


  <div class="wrap">
    <div class="item">아이템 1</div>    
    <div class="item">아이템 2</div>    
    <div class="item">아이템 3</div>    
    <div class="item">아이템 4</div>    
    <div class="item">아이템 5</div>    
  </div>


</body>
</html>
