<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<title>layout-main</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css"  href="../../../../asset/css/trpBase.css" media="all" />
</head>
<!--  
-->
<style type="text/css">
    body, html { height: 100%; }
    #wrap { position: relative; width:100%; height: 100%; padding: 18px 0; box-sizing: border-box; }
    #wrap #header { margin-top:-18px;}
    #wrap #container { height: 100%; overflow-y: auto; }
    #wrap #footer {  clear:both; padding:0px; margin-top:-0px; }
    .section-warp { width:1000px; margin:0 auto; }
</style>
<body>
	
<div id="wrap">

	<div id="header" style=" ">
		<div class="section-warp" style="background:#ff6600; text-align:center;">
			<h1>Gnb</h1>
		</div>
	</div>

	<div id="container" >
		<div id="content" class="section-warp">
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
			컨텐츠 <br />
		</div>
	</div>

	<div id="footer" style=" ">
		<div class="section-warp" style="background:#999999; text-align:center;">
			Copyright © trPackage
		</div>
	</div>

</div>
	
	
</body>
</html>