<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
<title> trpTabScrollMenu | TR package</title>
<script type="text/javascript" src="../../../../asset/js/libs/jquery-1.12.1.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../../../asset/js/libs/trpMenu.js"></script>
<link rel="stylesheet" href="../../../../asset/css/common.css" type="text/css" media="all" />


</head>
<body>
  <div id="header" ></div>
  <div id="container">
	<div id="lnb" class="gnb"></div>
	<!-- s: 컨텐츠 시작 -->
	<div id="contents" class="contents">
		<!-- s: 스크립드 설명 -->
		<div class="desc_wapper">
			<h1 class="desc_title">trpStickyTopEvent, trpStickyBottomEvent</h1>
			<p>
				스크롤 움직임에 따라 텝메뉴 활성화.
			</p>
		</div>
		<!-- e: 스크립드 설명 -->
	
		<!-- s: api 설명 -->
		<div class="api">
			<h2 class="api-title">trpStickyTopEvent( $stickyPoint , $parentClass ), trpStickyBottomEvent( $stickyPoint , $parentClass )</h2>
			<div class="api-body">
				<dl>
					<dt>설명</dt>
					<dd><span class="icon"></span>trpLayout.js 불러오면 trpTabScrollMenu 사용할수 있습니다.</dd>
					<dd><span class="icon"></span>&lt;script type="text/javascript" src="./js/libs/trpLayout.js"&gt;&lt;/script&gt;<br /> </dd>					
				</dl>
				
				<table class="table_col" summary="생성되는 class 설명">
					<caption>parameter 설명</caption>
					<colgroup>
						<col width="150">
						<col width="">		
					</colgroup>
					<tbody>
					<tr>
						<th scope="col">parameter 이름</th>
						<th scope="col">parameter 설명</th>
					</tr>
					<tr>
						<td>$stickyPoint </td>
						<td>trpStickyTopEvent 일시 top 값, <br>
							trpStickyBottomEvent  일시 bottom 값
						</td>		
					</tr>	
					<tr>
						<td>$parentClass</td>
						<td>부모 클래스에 스티키 클래스를 추가한다. 
						</td>		
					</tr>
					</tbody>
				</table>

				<table class="table_col" summary="생성되는 class 설명">
					<caption>return  method 설명</caption>
					<colgroup>
						<col width="150">
						<col width="">		
					</colgroup>
					<tbody>
					<tr>
						<th scope="col">method 이름</th>
						<th scope="col">method 설명</th>
					</tr>
					<tr>
						<td> setPoint($stickyPoint) </td>
						<td> stickyPoint 값을 변경할 수 있다.</td>		
					</tr>	
					</tbody>
				</table>
				

				<table class="table_col" summary="생성되는 class 설명">
					<caption>trpStickyTopEvent  설명</caption>
					<colgroup>
						<col width="150">
						<col width="">		
					</colgroup>
					<tbody>
					<tr>
						<th scope="col">Event 이름</th>
						<th scope="col">Event 설명    $stickyElementBottom.on('stickyOn', function(event, scrollPosition) {}); </th>
					</tr>
					<tr>
						<td> stickyOn(event, scrollPosition) </td>
						<td> 스티키 되는 순간 발생</td>		
					</tr>	
					<tr>
						<td> stickyOnIng(event, scrollPosition) </td>
						<td> 스티키 진행 되는 중.. 발생</td>		
					</tr>	
					<tr>
						<td> stickyUnder(event, scrollPosition) </td>
						<td> 스티키 벗어 나는 순간 발생</td>		
					</tr>	
					</tbody>
				</table>
				

			</div>
		</div>
		<!-- e: api 설명 -->

		<!-- s: examples 예제 -->
		<div class="ex_wapper">
			<div class="section">
				<h2 class="ex-title">예제) 1.기본 사용방법 trpStickyTopEvent</h2>
				<p class="ex-more" ><a href="javascript:return false;"><span>+</span><span style="display:none" >-</span></a></p>
				<p class="ex-view" ><a href="ex01.html" target="_blank">View</a></p>
				<div class="ex-body" style="display:none" >					
					<div class="source"><!-- 소스 -->
					

<!-- HTML generated using hilite.me --><div style="background: #272822; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
	2
	3
	4
	5
	6
	7
	8
	9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #75715e">&lt;!DOCTYPE html PUBLIC &quot;-//W3C//DTD XHTML 1.0 Transitional//EN&quot; &quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&quot;&gt;</span>
 <span style="color: #f92672">&lt;html</span> <span style="color: #a6e22e">xmlns=</span><span style="color: #e6db74">&quot;http://www.w3.org/1999/xhtml&quot;</span> <span style="color: #a6e22e">lang=</span><span style="color: #e6db74">&quot;ko&quot;</span> <span style="color: #a6e22e">xml:lang=</span><span style="color: #e6db74">&quot;ko&quot;</span><span style="color: #f92672">&gt;</span>
 
 <span style="color: #f92672">&lt;head&gt;</span>
	 <span style="color: #f92672">&lt;title&gt;</span>sticky<span style="color: #f92672">&lt;/title&gt;</span>
	 <span style="color: #f92672">&lt;meta</span> <span style="color: #a6e22e">http-equiv=</span><span style="color: #e6db74">&quot;Content-Type&quot;</span> <span style="color: #a6e22e">content=</span><span style="color: #e6db74">&quot;text/html; charset=utf-8&quot;</span> <span style="color: #f92672">/&gt;</span> 
	 <span style="color: #f92672">&lt;script </span><span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;text/javascript&quot;</span> <span style="color: #a6e22e">src=</span><span style="color: #e6db74">&quot;../../../../asset/js/libs/jquery-1.12.1.min.js&quot;</span>  <span style="color: #a6e22e">charset=</span><span style="color: #e6db74">&quot;UTF-8&quot;</span><span style="color: #f92672">&gt;&lt;/script&gt;</span>
	 <span style="color: #f92672">&lt;script </span><span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;text/javascript&quot;</span> <span style="color: #a6e22e">src=</span><span style="color: #e6db74">&quot;../../../../asset/js/libs/trpLayout.js&quot;</span>  <span style="color: #a6e22e">charset=</span><span style="color: #e6db74">&quot;UTF-8&quot;</span><span style="color: #f92672">&gt;&lt;/script&gt;</span>
 <span style="color: #f92672">&lt;/head&gt;</span>
 <span style="color: #f92672">&lt;style </span><span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;text/css&quot;</span><span style="color: #f92672">&gt;</span>
	 <span style="color: #a6e22e">.item</span> <span style="color: #f92672">+</span> <span style="color: #a6e22e">.item</span><span style="color: #f8f8f2">{</span> <span style="color: #66d9ef">margin-top</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> <span style="color: #f8f8f2">}</span>
	 <span style="color: #a6e22e">.item</span> <span style="color: #f8f8f2">{</span> <span style="color: #66d9ef">margin-top</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> 
		 <span style="color: #66d9ef">height</span><span style="color: #f92672">:</span> <span style="color: #66d9ef">auto</span><span style="color: #f8f8f2">;</span> <span style="color: #66d9ef">width</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">200px</span><span style="color: #f8f8f2">;</span> 
		 <span style="color: #66d9ef">border</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">4px</span> <span style="color: #66d9ef">solid</span> <span style="color: #ae81ff">#666</span><span style="color: #f8f8f2">;</span>
	 <span style="color: #f8f8f2">}</span>
 
	 <span style="color: #a6e22e">.item-head</span> <span style="color: #f8f8f2">{</span>  <span style="color: #66d9ef">position</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">sticky;</span> <span style="color: #66d9ef">top</span><span style="color: #f92672">:</span><span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> 
		 <span style="color: #66d9ef">background-color</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">#ccc</span><span style="color: #f8f8f2">;</span>
		 <span style="color: #66d9ef">height</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> <span style="color: #66d9ef">line-height</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span>
	 <span style="color: #f8f8f2">}</span>
	 <span style="color: #a6e22e">.item-bottom</span> <span style="color: #f8f8f2">{</span>  <span style="color: #66d9ef">position</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">sticky;</span> <span style="color: #66d9ef">bottom</span><span style="color: #f92672">:</span><span style="color: #ae81ff">20px</span><span style="color: #f8f8f2">;</span> 
		 <span style="color: #66d9ef">background-color</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">#aaa</span><span style="color: #f8f8f2">;</span>  
		 <span style="color: #66d9ef">height</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> <span style="color: #66d9ef">line-height</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> 
	 <span style="color: #f8f8f2">}</span>
 
	 <span style="color: #a6e22e">.js-sticky</span><span style="color: #f8f8f2">{</span>  <span style="color: #66d9ef">background-color</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">#cec</span><span style="color: #f8f8f2">;</span>  <span style="color: #f8f8f2">}</span>
 <span style="color: #f92672">&lt;/style&gt;</span>
 
 <span style="color: #f92672">&lt;body&gt;</span>
	 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;wrap&quot;</span><span style="color: #f92672">&gt;</span>
 
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 1<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head js-sticky&quot;</span><span style="color: #f92672">&gt;</span>title 2<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 4<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 5<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-bottom&quot;</span><span style="color: #f92672">&gt;</span>bottom 5<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 6<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 7<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 8<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 9<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
 
	 <span style="color: #f92672">&lt;/div&gt;</span>
 
 
 
 
	 <span style="color: #f92672">&lt;script&gt;</span>
		 <span style="color: #a6e22e">$</span><span style="color: #f8f8f2">(</span><span style="color: #66d9ef">function</span><span style="color: #f8f8f2">(){</span>
 
			 <span style="color: #75715e">// 스티키 요소 선택</span>
			 <span style="color: #66d9ef">var</span> <span style="color: #a6e22e">$stickyElement</span> <span style="color: #f92672">=</span> <span style="color: #a6e22e">$</span><span style="color: #f8f8f2">(</span><span style="color: #e6db74">&#39;.js-sticky&#39;</span><span style="color: #f8f8f2">);</span>
			 <span style="color: #a6e22e">$stickyElement</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">trpStickyTopEvent</span><span style="color: #f8f8f2">(</span><span style="color: #ae81ff">30</span><span style="color: #f8f8f2">);</span>
			 
			 <span style="color: #75715e">// 커스텀 이벤트 리스너 </span>
			 <span style="color: #a6e22e">$stickyElement</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">on</span><span style="color: #f8f8f2">(</span><span style="color: #e6db74">&#39;stickyOn&#39;</span><span style="color: #f8f8f2">,</span> <span style="color: #66d9ef">function</span><span style="color: #f8f8f2">(</span><span style="color: #a6e22e">event</span><span style="color: #f8f8f2">,</span> <span style="color: #a6e22e">scrollPosition</span><span style="color: #f8f8f2">)</span> <span style="color: #f8f8f2">{</span>
				<span style="color: #75715e">// console.log(&#39;스크롤 고정:&#39;, event.target, scrollPosition);</span>
			 <span style="color: #f8f8f2">});</span>
			 <span style="color: #a6e22e">$stickyElement</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">on</span><span style="color: #f8f8f2">(</span><span style="color: #e6db74">&#39;stickyUnder&#39;</span><span style="color: #f8f8f2">,</span> <span style="color: #66d9ef">function</span><span style="color: #f8f8f2">(</span><span style="color: #a6e22e">event</span><span style="color: #f8f8f2">,</span> <span style="color: #a6e22e">scrollPosition</span><span style="color: #f8f8f2">)</span> <span style="color: #f8f8f2">{</span>
				 <span style="color: #75715e">//console.log(&#39;스크롤 고정 해지:&#39;,  event.target, scrollPosition);</span>
			 <span style="color: #f8f8f2">});</span>
			 
			 <span style="color: #a6e22e">$stickyElement</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">on</span><span style="color: #f8f8f2">(</span><span style="color: #e6db74">&#39;stickyOnIng&#39;</span><span style="color: #f8f8f2">,</span> <span style="color: #66d9ef">function</span><span style="color: #f8f8f2">(</span><span style="color: #a6e22e">event</span><span style="color: #f8f8f2">,</span> <span style="color: #a6e22e">scrollPosition</span><span style="color: #f8f8f2">)</span> <span style="color: #f8f8f2">{</span>
				 <span style="color: #75715e">//console.log(&#39;sticky_over -&gt; sticky:&#39;,  event.target, scrollPosition);</span>
			 <span style="color: #f8f8f2">});</span>
 
		 <span style="color: #f8f8f2">});</span>
	 <span style="color: #f92672">&lt;/script&gt;</span>
 
 
 <span style="color: #f92672">&lt;/body&gt;</span>
 
 <span style="color: #f92672">&lt;/html&gt;</span>
 </pre></td></tr></table></div>
 
                

				
					</div><!--// 소스 -->
                </div>
			</div>			
		</div>
		<!-- e: examples 예제 -->




		<!-- s: examples 예제 -->
		<div class="ex_wapper">
			<div class="section">
				<h2 class="ex-title">예제) 2.기본 사용방법 trpStickyBottomEvent </h2>
				<p class="ex-more" ><a href="javascript:return false;"><span>+</span><span style="display:none" >-</span></a></p>
				<p class="ex-view" ><a href="ex02.html" target="_blank">View</a></p>
				<div class="ex-body" style="display:none" >					
					<div class="source"><!-- 소스 -->
					


<!-- HTML generated using hilite.me --><div style="background: #272822; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
	2
	3
	4
	5
	6
	7
	8
	9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #75715e">&lt;!DOCTYPE html PUBLIC &quot;-//W3C//DTD XHTML 1.0 Transitional//EN&quot; &quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&quot;&gt;</span>
 <span style="color: #f92672">&lt;html</span> <span style="color: #a6e22e">xmlns=</span><span style="color: #e6db74">&quot;http://www.w3.org/1999/xhtml&quot;</span> <span style="color: #a6e22e">lang=</span><span style="color: #e6db74">&quot;ko&quot;</span> <span style="color: #a6e22e">xml:lang=</span><span style="color: #e6db74">&quot;ko&quot;</span><span style="color: #f92672">&gt;</span>
 
 <span style="color: #f92672">&lt;head&gt;</span>
	 <span style="color: #f92672">&lt;title&gt;</span>sticky<span style="color: #f92672">&lt;/title&gt;</span>
	 <span style="color: #f92672">&lt;meta</span> <span style="color: #a6e22e">http-equiv=</span><span style="color: #e6db74">&quot;Content-Type&quot;</span> <span style="color: #a6e22e">content=</span><span style="color: #e6db74">&quot;text/html; charset=utf-8&quot;</span> <span style="color: #f92672">/&gt;</span>
	 <span style="color: #f92672">&lt;script </span><span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;text/javascript&quot;</span> <span style="color: #a6e22e">src=</span><span style="color: #e6db74">&quot;../../../../asset/js/libs/jquery-1.12.1.min.js&quot;</span>  <span style="color: #a6e22e">charset=</span><span style="color: #e6db74">&quot;UTF-8&quot;</span><span style="color: #f92672">&gt;&lt;/script&gt;</span>
	 <span style="color: #f92672">&lt;script </span><span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;text/javascript&quot;</span> <span style="color: #a6e22e">src=</span><span style="color: #e6db74">&quot;../../../../asset/js/libs/trpLayout.js&quot;</span>  <span style="color: #a6e22e">charset=</span><span style="color: #e6db74">&quot;UTF-8&quot;</span><span style="color: #f92672">&gt;&lt;/script&gt;</span>
 <span style="color: #f92672">&lt;/head&gt;</span>
 <span style="color: #f92672">&lt;style </span><span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;text/css&quot;</span><span style="color: #f92672">&gt;</span>
	 <span style="color: #a6e22e">.item</span> <span style="color: #f92672">+</span> <span style="color: #a6e22e">.item</span><span style="color: #f8f8f2">{</span> <span style="color: #66d9ef">margin-top</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> <span style="color: #f8f8f2">}</span>
	 <span style="color: #a6e22e">.item</span> <span style="color: #f8f8f2">{</span> <span style="color: #66d9ef">margin-top</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> 
		 <span style="color: #66d9ef">height</span><span style="color: #f92672">:</span> <span style="color: #66d9ef">auto</span><span style="color: #f8f8f2">;</span> <span style="color: #66d9ef">width</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">200px</span><span style="color: #f8f8f2">;</span> 
		 <span style="color: #66d9ef">border</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">4px</span> <span style="color: #66d9ef">solid</span> <span style="color: #ae81ff">#666</span><span style="color: #f8f8f2">;</span>
	 <span style="color: #f8f8f2">}</span>
 
	 <span style="color: #a6e22e">.item-head</span> <span style="color: #f8f8f2">{</span>  <span style="color: #66d9ef">position</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">sticky;</span> <span style="color: #66d9ef">top</span><span style="color: #f92672">:</span><span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> 
		 <span style="color: #66d9ef">background-color</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">#ccc</span><span style="color: #f8f8f2">;</span>
		 <span style="color: #66d9ef">height</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> <span style="color: #66d9ef">line-height</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span>
	 <span style="color: #f8f8f2">}</span>
	 <span style="color: #a6e22e">.item-bottom</span> <span style="color: #f8f8f2">{</span>  <span style="color: #66d9ef">position</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">sticky;</span> <span style="color: #66d9ef">bottom</span><span style="color: #f92672">:</span><span style="color: #ae81ff">20px</span><span style="color: #f8f8f2">;</span> 
		 <span style="color: #66d9ef">background-color</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">#aaa</span><span style="color: #f8f8f2">;</span>  
		 <span style="color: #66d9ef">height</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> <span style="color: #66d9ef">line-height</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">30px</span><span style="color: #f8f8f2">;</span> 
	 <span style="color: #f8f8f2">}</span>
 
	 <span style="color: #a6e22e">.js-sticky</span><span style="color: #f8f8f2">{</span>  <span style="color: #66d9ef">background-color</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">#cec</span><span style="color: #f8f8f2">;</span>  <span style="color: #f8f8f2">}</span>
 <span style="color: #f92672">&lt;/style&gt;</span>
 
 <span style="color: #f92672">&lt;body&gt;</span>
	 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;wrap&quot;</span><span style="color: #f92672">&gt;</span>
 
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 1<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 2<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 4<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 5<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-bottom js-sticky&quot;</span><span style="color: #f92672">&gt;</span>bottom 5<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 6<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 7<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 8<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item&quot;</span><span style="color: #f92672">&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-head&quot;</span><span style="color: #f92672">&gt;</span>title 9<span style="color: #f92672">&lt;/div&gt;</span>
			 <span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;item-body&quot;</span><span style="color: #f92672">&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?<span style="color: #f92672">&lt;/div&gt;</span>
		 <span style="color: #f92672">&lt;/div&gt;</span>
 
	 <span style="color: #f92672">&lt;/div&gt;</span>
 
 
 
 
	 <span style="color: #f92672">&lt;script&gt;</span>
		 <span style="color: #a6e22e">$</span><span style="color: #f8f8f2">(</span><span style="color: #66d9ef">function</span><span style="color: #f8f8f2">(){</span>
 
			 <span style="color: #66d9ef">var</span> <span style="color: #a6e22e">$stickyElementBottom</span> <span style="color: #f92672">=</span> <span style="color: #a6e22e">$</span><span style="color: #f8f8f2">(</span><span style="color: #e6db74">&#39;.js-sticky&#39;</span><span style="color: #f8f8f2">);</span>
			 <span style="color: #a6e22e">$stickyElementBottom</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">trpStickyBottomEvent</span><span style="color: #f8f8f2">(</span><span style="color: #ae81ff">20</span><span style="color: #f8f8f2">);</span>
 
			 <span style="color: #75715e">// 커스텀 이벤트 리스너 </span>
			 <span style="color: #a6e22e">$stickyElementBottom</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">on</span><span style="color: #f8f8f2">(</span><span style="color: #e6db74">&#39;stickyOn&#39;</span><span style="color: #f8f8f2">,</span> <span style="color: #66d9ef">function</span><span style="color: #f8f8f2">(</span><span style="color: #a6e22e">event</span><span style="color: #f8f8f2">,</span> <span style="color: #a6e22e">scrollPosition</span><span style="color: #f8f8f2">)</span> <span style="color: #f8f8f2">{</span>
				 <span style="color: #75715e">//console.log(&#39;스크롤 고정:&#39;, event.target, scrollPosition);</span>
			 <span style="color: #f8f8f2">});</span>
			 <span style="color: #a6e22e">$stickyElementBottom</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">on</span><span style="color: #f8f8f2">(</span><span style="color: #e6db74">&#39;stickyUnder&#39;</span><span style="color: #f8f8f2">,</span> <span style="color: #66d9ef">function</span><span style="color: #f8f8f2">(</span><span style="color: #a6e22e">event</span><span style="color: #f8f8f2">,</span> <span style="color: #a6e22e">scrollPosition</span><span style="color: #f8f8f2">)</span> <span style="color: #f8f8f2">{</span>
				 <span style="color: #75715e">//console.log(&#39;스크롤 고정 해지:&#39;,  event.target, scrollPosition);</span>
			 <span style="color: #f8f8f2">});</span>
			 
			 <span style="color: #a6e22e">$stickyElementBottom</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">on</span><span style="color: #f8f8f2">(</span><span style="color: #e6db74">&#39;stickyOnIng&#39;</span><span style="color: #f8f8f2">,</span> <span style="color: #66d9ef">function</span><span style="color: #f8f8f2">(</span><span style="color: #a6e22e">event</span><span style="color: #f8f8f2">,</span> <span style="color: #a6e22e">scrollPosition</span><span style="color: #f8f8f2">)</span> <span style="color: #f8f8f2">{</span>
				 <span style="color: #75715e">//console.log(&#39;stickyOnIng:&#39;, event.target, scrollPosition);</span>
			 <span style="color: #f8f8f2">});</span>
 
		 <span style="color: #f8f8f2">});</span>
	 <span style="color: #f92672">&lt;/script&gt;</span>
 
 
 <span style="color: #f92672">&lt;/body&gt;</span>
 
 <span style="color: #f92672">&lt;/html&gt;</span>
 </pre></td></tr></table></div>
 

                

				
					</div><!--// 소스 -->
                </div>
			</div>			
		</div>
		<!-- e: examples 예제 -->

				

	</div>
	<!-- e: 컨텐츠 끝 -->
</div>



<script type="text/javascript">
	$("#header").load("../../../head.html");
	$("#lnb").load("../../../lnb.html");	

	$(".ex-more a").click(function() {
		$( this ).find("span").toggle();
		$( this ).parent().siblings(".ex-body").slideToggle();
		return false;
	});

	$(".icon-more a").click(function() {
		$( this ).find("span").toggle();
		$( this ).parent().siblings(".ex-body").slideToggle();
		return false;
	});
</script>

</body>
</html>
