<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">

<head>
  <title>sticky</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="../../../../asset/js/libs/jquery-1.12.1.min.js"  charset="UTF-8"></script>
  <script type="text/javascript" src="../../../../asset/js/libs/trpLayout.js"  charset="UTF-8"></script>
</head>
<style type="text/css">
  .item + .item{ margin-top: 30px; }
  .item { margin-top: 30px; 
    height: auto; width: 200px; 
    border: 4px solid #666;
  }

  .item-head {  position: sticky; top:30px; 
    background-color: #ccc;
    height: 30px; line-height: 30px;
  }
  .item-bottom {  position: sticky; bottom:20px; 
    background-color: #aaa;  
    height: 30px; line-height: 30px; 
  }

  .js-sticky{  background-color: #cec;  }
</style>

<body>
  <div class="wrap">

    <div class="item">
      <div class="item-head">title 1</div>
      <div class="item-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?</div>
    </div>
    <div class="item">
      <div class="item-head">title 2</div>
      <div class="item-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?</div>
    </div>
    <div class="item">
      <div class="item-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?</div>
    </div>
    <div class="item">
      <div class="item-head">title 4</div>
      <div class="item-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?</div>
    </div>
    <div class="item">
      <div class="item-head">title 5</div>
      <div class="item-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?</div>
      <div class="item-bottom js-sticky">bottom 5</div>
    </div>
    <div class="item">
      <div class="item-head">title 6</div>
      <div class="item-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?</div>
    </div>
    <div class="item">
      <div class="item-head">title 7</div>
      <div class="item-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?</div>
    </div>
    <div class="item">
      <div class="item-head">title 8</div>
      <div class="item-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?</div>
    </div>
    <div class="item">
      <div class="item-head">title 9</div>
      <div class="item-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus numquam ratione facere illo voluptatum laboriosam quam nobis rem temporibus non, laborum perspiciatis, nostrum quas deleniti minus maxime tempora ex voluptas?</div>
    </div>

  </div>




  <script>
    $(function(){

      var $stickyElementBottom = $('.js-sticky');
      $stickyElementBottom.trpStickyBottomEvent(20);

      // 커스텀 이벤트 리스너 
      $stickyElementBottom.on('stickyOn', function(event, scrollPosition) {
        //console.log('스크롤 고정:', event.target, scrollPosition);
      });
      $stickyElementBottom.on('stickyUnder', function(event, scrollPosition) {
        //console.log('스크롤 고정 해지:',  event.target, scrollPosition);
      });
      
      $stickyElementBottom.on('stickyOnIng', function(event, scrollPosition) {
        //console.log('stickyOnIng:', event.target, scrollPosition);
      });

    });
  </script>


</body>

</html>
