<!doctype html>
<html lang="ko">
<head>
<!--#include virtual="/includes/meta.asp"-->
<meta name="Keywords" content="현대로템">
<meta name="Description" content="현대로템 가이드페이지입니다.">
<title>Hyundai Rotem</title>

<link rel="stylesheet" href="Common/CSS/Base.css" type="text/css">
<link rel="stylesheet" href="Common/CSS/UI_Style.css" type="text/css">
<link rel="stylesheet" href="Common/CSS/Common.css" type="text/css">

<!--[if lt IE 9]>
	<script language="javascript" type="text/javascript" src="/common/js/html5shiv-printshiv.js"></script>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script>
<![endif]-->
<style>
/* Guide CSS */

/*  typo */
#content_wrap {position:relative; width:940px; margin:0 auto; padding-top:50px;}
#content {float:none; width:940px;}

#content h3 {margin-bottom:30px; font-size:18px; color:#000;}
#content .row {width:auto; margin-bottom:20px; background-color:#eee; *zoom:1;}

.section {position:relative; padding-bottom:30px;}
.section h4 {font-size:15px; margin-bottom:8px}

.box {height:20px; border:1px solid #ddd; text-align:center; line-height:20px; background-color:#fff;}


/* Content CSS */
#Content .content_header {height:118px;}
.box {height:20px; border:1px solid #ddd; text-align:center; line-height:20px; background-color:#fff;}

@media all and (max-width:768px) {
	#Wrapper {min-width:100%; background:none;}
	#Header_Wrapper {min-width:100%;}
	#Header {width:auto;}

	
	#Container_Wrapper {min-width:100%; background:none;}
	#Container {width:auto; margin:0 10px;}
	#Content {float:none; width:auto;}
		
	#content_wrap {width:auto; min-width:300px; margin:0 10px;}
	#content {float:none; width:auto; max-width:720px; min-width:300px; margin:0 auto;}	
}

@media all and (max-width:480px) {
	#content {max-width:440px;}		
}

@media all and (max-width:320px) {

	#content {max-width:300px;}		
}
</style>

</head>
<body>

		<!-- Content Wrap -->
		<div id="content_wrap"> 			
			<article id="content" data-role="content">
				<!-- Content Header -->
				<header class="content_header">
					<h3><span class="label"></span>Gride System</h3>
				</header>
				<!--// Content Header -->


				<!-- Section : Single Row -->
				<section class="section">
					<!-- Section Header -->
					<div class="section_header">
						<h4>Single Row</h4>
					</div>
					<!--// Section Header -->					
					<!-- Section Body -->
					<div class="section_body">
	
						<div class="row">
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col_last col1">
								<div class="box">.col1</div>
							</div>																																																															
						</div>
						<div class="row">
							<div class="col col2">
								<div class="box">.col2-1</div>
							</div>
							<div class="col col2">
								<div class="box">.col2-2</div>
							</div>
							<div class="col col2">
								<div class="box">.col2-3</div>
							</div>
							<div class="col col2">
								<div class="box">.col2-4</div>
							</div>
							<div class="col col2">
								<div class="box">.col2-5</div>
							</div>
							<div class="col_last col2">
								<div class="box">.col2-6</div>
							</div>
						</div>	
						<div class="row">
							<div class="col col3">
								<div class="box">.col3</div>
							</div>
							<div class="col col3">
								<div class="box">.col3</div>
							</div>
							<div class="col col3">
								<div class="box">.col3</div>
							</div>
							<div class="col_last col3">
								<div class="box">.col3</div>
							</div>
						</div>
						<div class="row">
							<div class="col col4">
								<div class="box">.col4</div>
							</div>
							<div class="col col4">
								<div class="box">.col4</div>
							</div>
							<div class="col_last col4">
								<div class="box">.col4</div>
							</div>
						</div>
						<div class="row">
							<div class="col col5">
								<div class="box">.col5</div>
							</div>
							<div class="col col5">
								<div class="box">.col5</div>
							</div>
							<div class="col_last col2 col_50_c">
								<div class="box">.col2</div>
							</div>
						</div>
						<div class="row">
							<div class="col col6">
								<div class="box">.col6</div>
							</div>
							<div class="col_last col6">
								<div class="box">.col6</div>
							</div>
						</div>
						<div class="row">
							<div class="col col7">
								<div class="box">.col7</div>
							</div>
							<div class="col_last col5">
								<div class="box">.col5</div>
							</div>
						</div>
						<div class="row">
							<div class="col col8">
								<div class="box">.col8</div>
							</div>
							<div class="col_last col4">
								<div class="box">.col4</div>
							</div>
						</div>
						<div class="row">
							<div class="col col9">
								<div class="box">.col9</div>
							</div>
							<div class="col_last col3">
								<div class="box">.col3</div>
							</div>
						</div>
						<div class="row">
							<div class="col col10">
								<div class="box">.col10</div>
							</div>
							<div class="col_last col2 col_50_c">
								<div class="box">.col2</div>
							</div>
						</div>
						<div class="row">
							<div class="col col11">
								<div class="box">.col11</div>
							</div>
							<div class="col_last col1">
								<div class="box">.col1</div>
							</div>
						</div>
						<div class="row">
							<div class="col12">
								<div class="box">.col12</div>
							</div>
						</div>
					</div>
					<!--// Section Body -->				
				</section>				
				<!--// Section : Single Row  -->	



							
				<!-- Section: Box Inside -->
				<section class="section">
					<!-- Section Header -->
					<div class="section_header">
						<h4>Box Inside Row</h4>
					</div>
					<!--// Section Header -->					
					<!-- Section Body -->
					<div class="section_body">
						<div class="row">
							<div class="row">
								<div class="col col1">
									<div class="box">.col1</div>
								</div>
								<div class="col col1">
									<div class="box">.col1</div>
								</div>
								<div class="col col1">
									<div class="box">.col1</div>
								</div>
								<div class="col col1">
									<div class="box">.col1</div>
								</div>
								<div class="col col1">
									<div class="box">.col1</div>
								</div>
								<div class="col col1">
									<div class="box">.col1</div>
								</div>
								<div class="col col1">
									<div class="box">.col1</div>
								</div>
								<div class="col col1">
									<div class="box">.col1</div>
								</div>
								<div class="col col1">
									<div class="box">.col1</div>
								</div>
								<div class="col col1">
									<div class="box">.col1</div>
								</div>
								<div class="col col1">
									<div class="box">.col1</div>
								</div>
								<div class="col_last col1">
									<div class="box">.col1</div>
								</div>												
							</div>
							<div class="row">
								<div class="col col2">
									<div class="box">.col2</div>
								</div>
								<div class="col col2">
									<div class="box">.col2</div>
								</div>
								<div class="col col2">
									<div class="box">.col2</div>
								</div>
								<div class="col col2">
									<div class="box">.col2</div>
								</div>
								<div class="col col2">
									<div class="box">.col2</div>
								</div>
								<div class="col_last col2">
									<div class="box">.col2</div>
								</div>
							</div>
							<div class="row">
								<div class="col col3">
									<div class="box">.col3</div>
								</div>
								<div class="col col3">
									<div class="box">.col3</div>
								</div>
								<div class="col col3">
									<div class="box">.col3</div>
								</div>
								<div class="col_last col3">
									<div class="box">.col3</div>
								</div>
							</div>
							<div class="row">
								<div class="col col4">
									<div class="box">.col4</div>
								</div>
								<div class="col col4">
									<div class="box">.col4</div>
								</div>
								<div class="col_last col4">
									<div class="box">.col4</div>
								</div>
							</div>
							<div class="row">
								<div class="col col5">
									<div class="box">.col5</div>
								</div>
								<div class="col col5">
									<div class="box">.col5</div>
								</div>
								<div class="col col2">
									<div class="box">.col2</div>
								</div>
							</div>
							<div class="row">
								<div class="col col6">
									<div class="box">.col6</div>
								</div>
								<div class="col_last col6">
									<div class="box">.col6</div>
								</div>
							</div>
							<div class="row">
								<div class="col col7">
									<div class="box">.col7</div>
								</div>
								<div class="col_last col5">
									<div class="box">.col5</div>
								</div>
							</div>
							<div class="row">
								<div class="col col8">
									<div class="box">.col8</div>
								</div>
								<div class="col_last col4">
									<div class="box">.col4</div>
								</div>
							</div>
							<div class="row">
								<div class="col col9">
									<div class="box">.col9</div>
								</div>
								<div class="col_last col3">
									<div class="box">.col3</div>
								</div>
							</div>
							<div class="row">
								<div class="col col10">
									<div class="box">.col10</div>
								</div>
								<div class="col_last col2">
									<div class="box">.col2</div>
								</div>
							</div>
							<div class="row">
								<div class="col col11">
									<div class="box">.col11</div>
								</div>
								<div class="col_last col1">
									<div class="box">.col1</div>
								</div>
							</div>
							<div class="row">
								<div class="col12">
									<div class="box">.col12</div>
								</div>
							</div>
						</div>					
					</div>
					<!--// Section Body -->				
				</section>				
				<!--// Section: Box Inside -->
				
				<section>
					<div class="section_body">
						<div class="row">
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col col1">
								<div class="box">.col1</div>
							</div>
							<div class="col_last col1">
								<div class="box">.col1</div>
							</div>
						</div>						
						<div class="row">
							<div class="col col3">
								<div class="box">.col3</div>
								<div class="box">.col3</div>
							</div>					
							<div class="col_last col9">
								<div class="box">.col9</div>
								<div class="row">
									<div class="col col4">
										<div class="box">.col4</div>
									</div>
									<div class="col col4">
										<div class="box">.col4</div>
									</div>								
									<div class="col_last col4">
										<div class="box">.col4</div>
									</div>
								</div>
							</div>
	
						</div>
					</div>
				</section>
				
				<!-- Section: Two Up -->
				<section class="section">
					<!-- Section Header -->
					<div class="section_header">
						<h4>Two-up</h4>
					</div>
					<!--// Section Header -->					
					<!-- Section Body -->
					<div class="section_body">
						<div class="row">
							<ul class="blocks two_up tbl_two_up mob_two_up iphone_one_up">
								<li><p class="box">first</p></li>
								<li><p class="box">second</p></li>
								<li><p class="box">third</p></li>
								<li><p class="box">fourth</p></li>
							</ul>
						</div>
					</div>
					<!--// Section Body -->				
				</section>				
				<!--// Section: Two Up -->
				
				<!-- Section: Three Up -->
				<section class="section">
					<!-- Section Header -->
					<div class="section_header">
						<h4>Three-up</h4>
					</div>
					<!--// Section Header -->					
					<!-- Section Body -->
					<div class="section_body">
						<div class="row">
							<ul class="blocks three_up tbl_two_up mob_two_up iphone_one_up">
								<li><p class="box">first</p></li>
								<li><p class="box">second</p></li>
								<li><p class="box">third</p></li>
								<li><p class="box">fourth</p></li>
								<li><p class="box">fifth</p></li>
								<li><p class="box">sixth</p></li>
							</ul>
						</div>
					</div>
					<!--// Section Body -->				
				</section>				
				<!--// Section: Three Up -->
				
				<!-- Section: four Up -->
				<section class="section">
					<!-- Section Header -->
					<div class="section_header">
						<h4>four-up</h4>
					</div>
					<!--// Section Header -->					
					<!-- Section Body -->
					<div class="section_body">
						<div class="row">
							<ul class="blocks four_up tbl_two_up mob_two_up iphone_one_up">
								<li><p class="box">first</p></li>
								<li><p class="box">second</p></li>
								<li><p class="box">third</p></li>
								<li><p class="box">fourth</p></li>
								<li><p class="box">fifth</p></li>
								<li><p class="box">sixth</p></li>
								<li><p class="box">ninth</p></li>
								<li><p class="box">eighth</p></li>
							</ul>
						</div>
					</div>
					<!--// Section Body -->				
				</section>				
				<!--// Section: four Up -->
				
				<!-- Section : Grid Position -->
				<section class="section">
					<h4>Grid Position</h4>
					<div class="row">
						<div class="col3 col fix fix4"><p class="box">.col3-1 fix</p></div>
						<div class="col3 col fix fix4"><p class="box">.col3-2 fix</p></div>
						<div class="col3 col fix fix4"><p class="box">.col3-3 fix</p></div>
						<div class="col3 col fix fix4"><p class="box">.col3-4 fix</p></div>					
					</div>
				</section>
				<!--// Section : Grid Position -->
	
			</article>

		</div>
			<!--// Content Wrap -->

</body>
</html>
